.flexRow{
    display: flex;
    flex-direction: row;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
.allCenter{
    align-items: center;
    justify-content: center;
}
.justify-sb{
    justify-content: space-between;
}
.justify-sa{
    justify-content: space-around;
}
.justify-c{
    justify-content: center;
}



.custom-button{
    height: 30px;
    font-size: 12px !important;
    font-weight: 500 !important;
}
.button-bg{
    background-image: linear-gradient(274deg, #054c71, #1174a8)
}
.button-submit-bg{
    background-image: linear-gradient(274deg, #13bda4, #0db3b7)
}
.button-reset-bg{
    background-image: linear-gradient(274deg, #d80c41, #920879)
}